.big-container{
    width: 100%;
    /* height: 1000px; */
    background-image: linear-gradient(rgba(7, 44, 102, 0.7),rgba(13, 34, 121, 0.7)), url(../../assets/banner.jpg)
  }
  
.parts {
    display: flex;
    width: 100%;
    height: fit-content;
    margin: 10px auto;
    padding: 100px 20px;
    /* border: 1px solid; */
  }
  
  
.one {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }
  
.one .content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: auto;
    color: white;
  }
  
.one h2 {
    margin-bottom: 15px;
    font-weight: 400;
  }

.one p{
    font-size: 1rem;
    font-weight: 300;  
  }
    
.two{
  width: 40%;
  padding: 30px 40px;
    background-color: white;
  }

.two h4{
    margin-top: 10px;
}

.two .full{
    border: 2px solid rgb(212, 205, 205);
    background-color: white;
    width: 100%;
    height: 45px;
    padding: 10px;
    border-radius: 5px;
    margin: 5px auto;
    font-size: 14px;
}

form{
  /* border: 1px solid; */
  margin: auto 0;
}

.info {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
  /* border: 1px solid;   */
  height: 45px;
  justify-content: space-between;
  }
  
.info input {
    /* width: 90%; */
    outline: none;
    width: 47%;
    height: 100%;
    /* margin-bottom: 10px; */
    border: 2px solid rgb(212, 205, 205);
    border-radius: 5px;
    padding-left: 2%;
  }

  .email{
      width: 100%;
      outline:none;
      margin: 5px 0; 
      height: 45px;
      border: 2px solid rgb(212, 205, 205);
      border-radius: 5px;
      padding-left: 10px;
  }

  .sprd{
    display: flex;
    height: 45px;
    justify-content: space-between;
    /* border: 1px dotted; */
  }

.sprd select,
.sprd input{
    width: 47%;
    height: 100%;
    border: 2px solid rgb(212, 205, 205);
    border-radius: 5px;
}

.sprd select{
    margin-right: 25px;
}

.btn{
    width: 100%;
    margin: 5px 0;
    height: 40px;
    background-color: #00aeff;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    border: none;
}

.btn:hover{
    cursor: pointer;
    background-color: rgba(45, 163, 237, 0.829);
}

