.containr{
    padding: 50px 0;
    background-color: #f7f8f9;
    width: 100vw;
    margin: 100px 0;
}


.header{
    color: black;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header h1{
    font-size: 2.7rem;
    font-weight: 300;
}

.cd-container{
    display: flex ;
    flex-wrap: wrap;
    margin-top: 30px;
    /* grid-template-columns: repeat(3, 1fr); */
    /* border: 1px dotted; */
    /* margin: 5px auto; */
}

.cd{
    position: relative;
    width: 30vw;
    height: 270px;
    margin: 10px auto;
    /* border: 1px solid #000; */
}

.cd::after{
    content: "";
    position: absolute;
    top: 70%;
    left: 0;
    width: 100%;
    height: 30%;
    z-index: 4; 
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.7));   
}

.cd:hover::after {
    height: 0;
}

.cd>img{
    width: 100%;
    height: 100%;
}

.details{
    position: absolute;
    top: 70%;
    left: 5%;
    color: white;
    z-index: 41;
}

.price{
    font-weight: bold;
    display: flex;
    align-items: center;
}

.currency{
    width: 20px;
    height: 20px;
}

.bed{
    width: 20px;
    height: 25px;
}

.ar-left,
.ar-right{
    /* display: none; */
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 30px;
    color: white;
}

.ar-left{
    top: 45%;
    left: 5%;
}

.ar-right{
    bottom: 44%;
    right: 5%;
}

.featured{
    position: absolute;
    text-transform: uppercase;
    background-color: #77c720 ;
    color: white;
    font-size: 0.8rem;
    padding: 3px;
    top: 7%;
    left: 7%;
}

.stat{
    position: absolute;
    display: flex;
    gap: 5px;
    top: 60%;
    left: 5%;
}

.stat>button{
    padding: 2.5px;
    text-transform: uppercase;
    font-size: 0.6rem;
    color: white;
    border: none;
    background-color: rgba(0, 0, 0, 0.692);
}

.ldmr{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin: 50px auto;
    height: 25px; 
}

.ldmr button{
    border: 1px solid #00aeff;
    color: #00aeff;
    background-color: transparent;
    width: 200px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: .1s ease-in;
}

.ldmr button:hover{
    background-color: #00aeff;
    color: white;
}

@media screen and (max-width: 768px){

    .containr{
        width: 100%;
        margin: 30px 0;
        padding: 10px 0;
    }
    .header h1{
        font-size: 1.9rem;
        font-weight: bold;
    }

    .cd-container{
        width: inherit;
        padding: 0 20px;
        flex-direction: column;
    }

    .cd{
        width: inherit;
    }
}