.discover{
    color: black;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px; 
    background-color: #e3e4e5;
    /* border: 1px solid black; just for visualization */
}

.discover h1{
    font-size: 2.7rem;
    font-weight: 300;
}

@media screen and (max-width: 768px){

    .discover{
        padding: 20px; 
    }
    .discover h1{
        font-weight: bold;
        font-size: 1.7rem;
    }

    .discover p{
        font-size: 0.8rem;
    }
}

